<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <title>Book Online</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <th:block th:replace="fragments :: admin-css"></th:block>
  </head>
  <body>
    <!-- Header -->
    <header th:replace="fragments :: header"></header>

    <div class="container">
      <h1>Books</h1>

      <a
        type="button"
        class="btn btn-sm btn-primary mb-3"
        th:href="@{/admin/books/add}"
        >Add new book</a
      >

      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Thumbnail</th>
            <th scope="col">Categories</th>
            <th scope="col">Authors</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="book, iStat : ${books}">
            <th scope="row" th:text="${iStat.index + 1}"></th>
            <td>
              <a
                th:href="@{|admin/book/${book.id}|}"
                th:text="${book.name}"
              ></a>
            </td>
            <td>
              <img th:src="|/${book.thumbnail}|" alt="" class="logo-small" />
            </td>
            <td th:text="${{bookService.getCategoriesNames(book)}}"></td>
            <td th:text="${{bookService.getAuthorsNames(book)}}"></td>
            <td>
              <form
                id="form-update"
                th:action="@{|/admin/books/${book.id}/update|}"
                method="GET"
              >
                <button
                  type="submit"
                  form="form-update"
                  class="btn btn-sm btn-secondary"
                >
                  <i class="fa-regular fa-pen-to-square"></i>
                </button>
              </form>
              <form
                id="form-delete"
                th:action="@{|/admin/books/${book.id}/delete|}"
                method="GET"
              >
                <button
                  type="submit"
                  form="form-delete"
                  class="btn btn-sm btn-danger"
                >
                  <i class="fa-regular fa-trash-can"></i>
                </button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- BEGIN Pagination  -->
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          <li th:unless="${page == 1}" class="page-item">
            <a
              class="page-link"
              th:href="@{/admin/books (page=${page - 1})}"
              aria-label="Previous"
            >
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li th:unless="${page == 1}" class="page-item">
            <a
              class="page-link"
              th:href="@{/admin/books (page=${page - 1})}"
              th:text="${page - 1}"
              >previous page</a
            >
          </li>
          <li class="page-item active">
            <a
              class="page-link"
              th:href="@{/admin/books (page=${page})}"
              th:text="${page}"
              >current page</a
            >
          </li>
          <li th:unless="${page == maxPage}" class="page-item">
            <a
              class="page-link"
              th:href="@{/admin/books (page=${page + 1})}"
              th:text="${page + 1}"
              >next page</a
            >
          </li>
          <li th:unless="${page == maxPage}" class="page-item">
            <a
              class="page-link"
              th:href="@{/admin/books (page=${page + 1})}"
              aria-label="Next"
            >
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- END Pagination  -->
    </div>

    <!-- Scripts -->
    <th:block th:replace="fragments :: admin-scripts"></th:block>
  </body>
</html>
