<!DOCTYPE html>
<html>
  <head>
    <title>Book Online</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <th:block th:replace="fragments :: css"></th:block>
  </head>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Header -->
      <header th:replace="fragments :: header"></header>

      <!-- Main -->
      <div id="main">
        <div class="inner">
          <h1>Books</h1>

          <div class="image main">
            <img
              src="images/banner-image-6-1920x500.jpg"
              class="img-fluid"
              alt=""
            />
          </div>

          <!-- Products -->
          <section class="tiles">
            <article
              th:each="book : ${books}"
              th:class="|style${#numbers.formatDecimal(T(java.lang.Math).floor(T(java.lang.Math).random()*6) + 1,1,0)}|"
            >
              <span class="image">
                <img th:src="|/${book.thumbnail}|" alt="" />
              </span>
              <a th:href="book-details">
                <h2 th:text="${book.name}">
                  Lorem ipsum dolor sit amet, consectetur
                </h2>

                <p>
                  <strong
                    th:text="|${#numbers.formatInteger(book.price, 3, 'COMMA')} đ|"
                    >$19.00</strong
                  >
                </p>

                <p th:text="${#strings.abbreviate(book.description, 100)}">
                  Vestibulum id est eu felis vulputate hendrerit uspendisse
                  dapibus turpis in
                </p>
              </a>
            </article>
          </section>
        </div>
      </div>

      <!-- Footer -->
      <footer id="footer">
        <div class="inner">
          <section>
            <ul class="icons">
              <li>
                <a href="#" class="icon style2 fa-twitter"
                  ><span class="label">Twitter</span></a
                >
              </li>
              <li>
                <a href="#" class="icon style2 fa-facebook"
                  ><span class="label">Facebook</span></a
                >
              </li>
              <li>
                <a href="#" class="icon style2 fa-instagram"
                  ><span class="label">Instagram</span></a
                >
              </li>
              <li>
                <a href="#" class="icon style2 fa-linkedin"
                  ><span class="label">LinkedIn</span></a
                >
              </li>
            </ul>

            &nbsp;
          </section>

          <ul class="copyright">
            <li>Copyright © 2022 Pham The Duong</li>
            <li>
              Template by:
              <a href="https://www.phpjabbers.com/">PHPJabbers.com</a>
            </li>
          </ul>
        </div>
      </footer>
    </div>

    <!-- Scripts -->
    <th:block th:replace="fragments :: scripts"></th:block>
  </body>
</html>
