<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <title>Book Online</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <th:block th:replace="fragments :: css"></th:block>
    <link rel="stylesheet" th:href="@{/assets/css/book-details.css}" />
  </head>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Header -->
      <header th:replace="fragments :: header"></header>

      <!-- BEGIN success alert -->
      <div th:replace="fragments :: successAlert"></div>
      <!-- END success alert -->

      <!-- BEGIN danger alert -->
      <div th:replace="fragments :: dangerAlert"></div>
      <!-- END danger alert -->

      <!-- Main -->
      <div id="main">
        <div class="inner">
          <h1>
            <span th:text="${book.name}"> Lorem ipsum dolor sit amet </span>
            <span
              th:text="|${#numbers.formatInteger(book.price, 3, 'COMMA')} đ|"
              class="pull-right"
              >$79.00</span
            >
          </h1>

          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4">
                <img th:src="|/${book.thumbnail}|" width="100%" alt="" />
              </div>

              <div class="col-md-8">
                <p>
                  Categories:
                  <span th:text="${categories}">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Rerum, iste neque, ut recusandae quibusdam perferendis qui
                    modi aliquam quaerat molestiae.
                  </span>
                </p>

                <p>
                  Author(s):
                  <span th:text="${authors}">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Rerum, iste neque, ut recusandae quibusdam perferendis qui
                    modi aliquam quaerat molestiae.
                  </span>
                </p>

                <p>
                  Publisher:
                  <span th:text="${book.publisher.name}">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Rerum, iste neque, ut recusandae quibusdam perferendis qui
                    modi aliquam quaerat molestiae.
                  </span>
                </p>

                <p>
                  Published year:
                  <span th:text="${book.publishedYear}"> 2000 </span>
                </p>

                <p>Pages: <span th:text="${book.pages}"> 2000 </span></p>

                <p th:text="${book.description}">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Rerum, iste neque, ut recusandae quibusdam perferendis qui
                  modi aliquam quaerat molestiae.
                </p>

                <p>Stock: <span th:text="${book.quantity}"> 2000 </span></p>
              </div>
            </div>

            <form
              sec:authorize="hasRole('USER')"
              th:action="@{|/books/${book.id}/cartBooks/add|}"
              th:object="${cartBookRequest}"
              method="POST"
            >
              <div class="form-group">
                <input
                  type="text"
                  th:field="*{quantity}"
                  placeholder="Quantity"
                />

                <input
                  type="submit"
                  class="btn btn-secondary"
                  value="Add to Cart"
                />
              </div>
            </form>
          </div>

          <br />
          <br />

          <!-- Similar Products -->
          <div class="container-fluid">
            <h2 class="h2">Books with the same categories</h2>
            <section class="tiles">
              <article th:each="book : ${booksSameCategories}">
                <span class="image">
                  <img th:src="|/${book.thumbnail}|" alt="" />
                </span>
                <a th:href="@{|/books/${book.id}|}">
                  <h2 th:text="${book.name}">
                    Lorem ipsum dolor sit amet, consectetur
                  </h2>

                  <p>
                    <strong
                      th:text="|${#numbers.formatInteger(book.price, 3, 'COMMA')} đ|"
                      >$19.00</strong
                    >
                  </p>

                  <p th:text="${#strings.abbreviate(book.description, 100)}">
                    Vestibulum id est eu felis vulputate hendrerit uspendisse
                    dapibus turpis in
                  </p>
                </a>
              </article>
            </section>

            <h2 class="h2">Books with the same authors</h2>
            <section class="tiles">
              <article th:each="book : ${booksSameAuthors}">
                <span class="image">
                  <img th:src="|/${book.thumbnail}|" alt="" />
                </span>
                <a th:href="@{|/books/${book.id}|}">
                  <h2 th:text="${book.name}">
                    Lorem ipsum dolor sit amet, consectetur
                  </h2>

                  <p>
                    <strong
                      th:text="|${#numbers.formatInteger(book.price, 3, 'COMMA')} đ|"
                      >$19.00</strong
                    >
                  </p>

                  <p th:text="${#strings.abbreviate(book.description, 100)}">
                    Vestibulum id est eu felis vulputate hendrerit uspendisse
                    dapibus turpis in
                  </p>
                </a>
              </article>
            </section>
          </div>

          <!-- Comments -->
          <div class="container-fluid">
            <h2 class="h2">Comments</h2>

            <form
              sec:authorize="hasRole('USER')"
              th:action="@{|/books/${book.id}/comments/add|}"
              th:object="${commentRequest}"
              method="POST"
            >
              <div class="form-group mb-3">
                <textarea
                  class="form-control"
                  placeholder="Write a comment..."
                  rows="3"
                  th:field="*{content}"
                ></textarea>
              </div>

              <div
                class="d-flex justify-content-between align-items-center mb-3"
              >
                <button type="submit" class="btn btn-secondary">Post</button>
              </div>
            </form>

            <div th:each="comment : ${comments}" class="card p-3">
              <div class="d-flex justify-content-between align-items-center">
                <div class="user d-flex flex-row align-items-center">
                  <img
                    th:src="|/${userService.findByComments(comment).avatar}|"
                    width="30"
                    class="user-img me-2"
                  />
                  <span>
                    <small
                      th:text="${userService.findByComments(comment).username}"
                      class="font-weight-bold text-primary"
                    >
                      james_olesenn
                    </small>
                    <small
                      th:text="${#temporals.format(comment.createdAt, 'dd-MM-yyyy HH:mm')}"
                      >2 days ago</small
                    >
                  </span>
                </div>
              </div>

              <div class="user d-flex flex-row align-items-center">
                <small th:text="${comment.content}" class="font-weight-bold"
                  >Hmm, This poster looks cool</small
                >
              </div>

              <div
                class="action d-flex justify-content-between mt-2 align-items-center"
              >
                <div class="reply px-4">
                  <span class="dots"></span>
                  <small>Reply</small>
                  <span class="dots"></span>
                  <small>Edit</small>
                  <span class="dots"></span>
                  <small>Remove</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <footer id="footer">
        <div class="inner">
          <section>
            <ul class="icons">
              <li>
                <a href="#" class="icon style2 fa-twitter"
                  ><span class="label">Twitter</span></a
                >
              </li>
              <li>
                <a href="#" class="icon style2 fa-facebook"
                  ><span class="label">Facebook</span></a
                >
              </li>
              <li>
                <a href="#" class="icon style2 fa-instagram"
                  ><span class="label">Instagram</span></a
                >
              </li>
              <li>
                <a href="#" class="icon style2 fa-linkedin"
                  ><span class="label">LinkedIn</span></a
                >
              </li>
            </ul>

            &nbsp;
          </section>
        </div>
      </footer>
    </div>

    <!-- Scripts -->
    <th:block th:replace="fragments :: scripts"></th:block>
  </body>
</html>
