<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <title>Book Online</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <th:block th:replace="fragments :: css"></th:block>
    <link rel="stylesheet" th:href="@{/assets/css/book-details.css}" />
  </head>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Header -->
      <header th:replace="fragments :: header"></header>

      <!-- Main -->
      <div id="main">
        <div class="inner">
          <h1>
            <span th:text="${book.name}"> Lorem ipsum dolor sit amet </span>
            <span
              th:text="|${#numbers.formatInteger(book.price, 3, 'COMMA')} đ|"
              class="pull-right"
              >$79.00</span
            >
          </h1>

          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4">
                <img th:src="|/${book.thumbnail}|" width="100%" alt="" />
              </div>

              <div class="col-md-8">
                <p>
                  Author(s):
                  <span th:text="${authors}">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Rerum, iste neque, ut recusandae quibusdam perferendis qui
                    modi aliquam quaerat molestiae.
                  </span>
                </p>

                <p>
                  Publisher:
                  <span th:text="${book.publisher.name}">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Rerum, iste neque, ut recusandae quibusdam perferendis qui
                    modi aliquam quaerat molestiae.
                  </span>
                </p>

                <p>
                  Published year:
                  <span th:text="${book.publishedYear}"> 2000 </span>
                </p>

                <p>Pages: <span th:text="${book.pages}"> 2000 </span></p>

                <p th:text="${book.description}">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Rerum, iste neque, ut recusandae quibusdam perferendis qui
                  modi aliquam quaerat molestiae.
                </p>

                <p>Stock: <span th:text="${book.quantity}"> 2000 </span></p>

                <div class="row">
                  <div class="col-sm-8">
                    <label class="control-label">Quantity</label>

                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <input type="text" name="name" id="name" />
                        </div>
                      </div>

                      <div class="col-sm-6">
                        <input
                          type="submit"
                          class="primary"
                          value="Add to Cart"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <br />
          <br />

          <!-- Similar Products -->
          <div class="container-fluid">
            <h2 class="h2">Similar Products</h2>
            <section class="tiles">
              <article class="style1">
                <span class="image">
                  <img th:src="@{/images/product-1-720x480.jpg}" alt="" />
                </span>
                <a th:href="book-details">
                  <h2>Lorem ipsum dolor sit amet, consectetur</h2>

                  <p><del>$19.00</del> <strong>$19.00</strong></p>

                  <p>
                    Vestibulum id est eu felis vulputate hendrerit uspendisse
                    dapibus turpis in
                  </p>
                </a>
              </article>

              <article class="style2">
                <span class="image">
                  <img th:src="@{/images/product-2-720x480.jpg}" alt="" />
                </span>
                <a href="product-details.html">
                  <h2>Lorem ipsum dolor sit amet, consectetur</h2>

                  <p><del>$19.00</del> <strong>$19.00</strong></p>

                  <p>
                    Vestibulum id est eu felis vulputate hendrerit uspendisse
                    dapibus turpis in
                  </p>
                </a>
              </article>

              <article class="style3">
                <span class="image">
                  <img th:src="@{/images/product-6-720x480.jpg}" alt="" />
                </span>
                <a href="product-details.html">
                  <h2>Lorem ipsum dolor sit amet, consectetur</h2>

                  <p><del>$19.00</del> <strong>$19.00</strong></p>

                  <p>
                    Vestibulum id est eu felis vulputate hendrerit uspendisse
                    dapibus turpis in
                  </p>
                </a>
              </article>
            </section>
          </div>

          <!-- Comments -->
          <div class="container-fluid">
            <h2 class="h2">Comments</h2>

            <div class="d-flex justify-content-between align-items-center mb-3">
              <textarea
                class="form-control me-3"
                placeholder="Write a comment..."
                rows="3"
              ></textarea>
              <div class="col-sm-1">
                <button
                  type="button"
                  class="btn primary float-right"
                >
                  Post
                </button>
              </div>
            </div>

            <div class="card p-3">
              <div class="d-flex justify-content-between align-items-center">
                <div class="user d-flex flex-row align-items-center">
                  <img
                    src="https://i.imgur.com/hczKIze.jpg"
                    width="30"
                    class="user-img rounded-circle mr-2"
                  />
                  <span>
                    <small class="font-weight-bold text-primary">
                      james_olesenn
                    </small>
                    <small class="font-weight-bold"
                      >Hmm, This poster looks cool</small
                    >
                  </span>
                </div>

                <small>2 days ago</small>
              </div>

              <div
                class="action d-flex justify-content-between mt-2 align-items-center"
              >
                <div class="reply px-4">
                  <small>Remove</small>
                  <span class="dots"></span>
                  <small>Reply</small>
                </div>
              </div>
            </div>

            <div class="card p-3 mt-2">
              <div class="d-flex justify-content-between align-items-center">
                <div class="user d-flex flex-row align-items-center">
                  <img
                    src="https://i.imgur.com/C4egmYM.jpg"
                    width="30"
                    class="user-img rounded-circle mr-2"
                  />
                  <span
                    ><small class="font-weight-bold text-primary"
                      >olan_sams</small
                    >
                    <small class="font-weight-bold"
                      >Loving your work and profile!
                    </small></span
                  >
                </div>

                <small>3 days ago</small>
              </div>

              <div
                class="action d-flex justify-content-between mt-2 align-items-center"
              >
                <div class="reply px-4">
                  <small>Remove</small>
                  <span class="dots"></span>
                  <small>Reply</small>
                </div>
              </div>
            </div>

            <div class="card p-3 mt-2">
              <div class="d-flex justify-content-between align-items-center">
                <div class="user d-flex flex-row align-items-center">
                  <img
                    src="https://i.imgur.com/0LKZQYM.jpg"
                    width="30"
                    class="user-img rounded-circle mr-2"
                  />
                  <span
                    ><small class="font-weight-bold text-primary"
                      >rashida_jones</small
                    >
                    <small class="font-weight-bold"
                      >Really cool Which filter are you using?
                    </small></span
                  >
                </div>

                <small>3 days ago</small>
              </div>

              <div
                class="action d-flex justify-content-between mt-2 align-items-center"
              >
                <div class="reply px-4">
                  <small>Remove</small>
                  <span class="dots"></span>
                  <small>Reply</small>
                </div>
              </div>
            </div>

            <div class="card p-3 mt-2">
              <div class="d-flex justify-content-between align-items-center">
                <div class="user d-flex flex-row align-items-center">
                  <img
                    src="https://i.imgur.com/ZSkeqnd.jpg"
                    width="30"
                    class="user-img rounded-circle mr-2"
                  />
                  <span
                    ><small class="font-weight-bold text-primary"
                      >simona_rnasi</small
                    >
                    <small class="font-weight-bold text-primary"
                      >@macky_lones</small
                    >
                    <small class="font-weight-bold text-primary"
                      >@rashida_jones</small
                    >
                    <small class="font-weight-bold">Thanks </small></span
                  >
                </div>

                <small>3 days ago</small>
              </div>

              <div
                class="action d-flex justify-content-between mt-2 align-items-center"
              >
                <div class="reply px-4">
                  <small>Remove</small>
                  <span class="dots"></span>
                  <small>Reply</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <footer id="footer">
        <div class="inner">
          <section>
            <ul class="icons">
              <li>
                <a href="#" class="icon style2 fa-twitter"
                  ><span class="label">Twitter</span></a
                >
              </li>
              <li>
                <a href="#" class="icon style2 fa-facebook"
                  ><span class="label">Facebook</span></a
                >
              </li>
              <li>
                <a href="#" class="icon style2 fa-instagram"
                  ><span class="label">Instagram</span></a
                >
              </li>
              <li>
                <a href="#" class="icon style2 fa-linkedin"
                  ><span class="label">LinkedIn</span></a
                >
              </li>
            </ul>

            &nbsp;
          </section>

          <ul class="copyright">
            <li>Copyright © 2022 Pham The Duong</li>
            <li>
              Template by:
              <a href="https://www.phpjabbers.com/">PHPJabbers.com</a>
            </li>
          </ul>
        </div>
      </footer>
    </div>

    <!-- Scripts -->
    <th:block th:replace="fragments :: scripts"></th:block>
  </body>
</html>
